[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sklearn = "*"
numpy = "*"
scipy = "*"
sparse-dot-topn = "*"
jupyter = "*"
nltk = "*"
pandas = "*"
mpld3 = "*"
sns = "*"
seaborn = "*"
python-dateutil = "*"
flask = "*"
flask-restful = "*"
ab = "*"

[dev-packages]
mypy = "*"
coverage = "*"
pytest = "*"

[requires]
python_version = "3.7"
