[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
sklearn = "*"
numpy = "*"
scipy = "*"
sparse-dot-topn = "*"
jupyter = "*"
nltk = "*"
pandas = "*"
mpld3 = "*"
sns = "*"
seaborn = "*"

[dev-packages]
mypy = "*"
black = "*"

[requires]
python_version = "3.7"
